@tailwind base;

@tailwind components;

@tailwind utilities;

:root{
 
  --colorPrimary:#ff8400; 
  --colorSecondary:#2fb5ca; 


}

#Header{
  height: 100vh;
}
.textPrimary{
  color: var(--colorPrimary);
}
.bgPrimary{
  background-color: var(--colorSecondary);

}
.black{
  background-color: black;
  z-index: -1;  
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; 
}
.initiallyHidden {
  opacity: 0;
  
}

.aboutMebg{
  background-color: #8b848436;
  
}
